.about{
    margin-top:10px;
}
.about-box{
    padding: 95px 0;
    width: 25%;
    background: #18CFAB;
}
.about-box:nth-child(odd){
    background: #1C2A33;
    color: #18CFAB;
}
.about-box__content{
    text-align: center;
    height: 10.75em;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}